[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
flask-restful = "==0.3.8"
flask-sqlalchemy = "==2.5.1"
psycopg2 = "==2.8.6"
flask-jwt = "==0.3.2"
pre-commit = "2.12.1"
pylint = "==3.0.0a1"
setuptools = "==56.0.0"
coverage = "*"
mypy = "==0.812"
pylint-flask-sqlalchemy = "==0.2.0"

[requires]
python_version = "3.8"
